################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Gourd/v16/Server/sqlite3
/.vs/Gourd


/Gourd.Admin/bin/
/Gourd.Admin/obj/

/Gourd.Application/bin/
/Gourd.Application/obj/

/Gourd.Domain/bin/
/Gourd.Domain/obj/

/Gourd.DomainCore/bin/
/Gourd.DomainCore/obj/

/Gourd.IdentityApi/bin/
/Gourd.IdentityApi/obj/

/Gourd.IdentityService/bin/
/Gourd.IdentityService/obj/

/Gourd.Infrastructure/bin/
/Gourd.Infrastructure/obj/

/Gourd.WebApi/bin/
/Gourd.WebApi/obj/

/Gouurd.InitQ/bin/
/Gouurd.InitQ/obj/