@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">欢迎来到提伯斯实验室,啥也别问,问就是不知道,勿6,皆坐,静观</h1>
        <h2><a href="https://github.com/wmowm/gourd">开源地址</a></h2>
        <img src="~/img/zb.jpg" />
    </div>
