@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MVC访问页面</p>
    @{ 
        foreach (var item in Model)
        {
            <p>@item</p>
        }
    }
</div>
